body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.header {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-input, .todo-date {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px; /* Adjust width as needed */
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.add-button, .reset-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-button {
    background-color: #007bff;
}

.add-button:hover {
    background-color: #0056b3;
}

.reset-button {
    background-color: #6c757d;
}

.reset-button:hover {
    background-color: #5a6268;
}

.todo-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.todo-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.todo-table th {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.todo-table td {
    vertical-align: middle;
}

.todo-delete-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0;
}

.todo-delete-button:hover {
    background-color: #c82333;
}

